[{kernel,
  [
  	{
  		distributed, [
  			{rest, 1000, ['cn1@127.0.0.1', 'cn2@127.0.0.1', 'cn3@127.0.0.1']}, 
  			{maru, 1000, ['cn1@127.0.0.1', 'cn2@127.0.0.1', 'cn3@127.0.0.1']},
  			{ranch, 1000, ['cn1@127.0.0.1', 'cn2@127.0.0.1', 'cn3@127.0.0.1']}
  		]
  	},
  	{
  		sync_nodes_mandatory, ['cn1@127.0.0.1', 'cn2@127.0.0.1']
  	},
   	{
   		sync_nodes_timeout, 30000
   	}
  ]
 }
].